ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  position: relative;
}

li {
  width: 200px;
  margin-bottom: 1em;
  position: relative;
}

li .top {
  display: flex;
  flex-direction: column;
}

li:hover .rank {
  display: none;
}

.odd .rank {
  color: #e6e6e6;
}

li a {
  color: #7f8484;
  text-decoration: none;
}

p {
  margin: 0;
}

.rank {
  color: #a9864f;
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 0.2em;
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 1;
  text-shadow: 2px 2px 9px black;
}

.bold {
  font-weight: 500;
}

.top img {
  width: 200px;
  height: auto;
  -webkit-filter: blur(0);
  filter: blur(0);
}

.top:hover img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

li .bottom {
  margin-top: 1em;
  display: none;
  padding: 0.3em;
  color: #e6e6e6;
}

li:hover .bottom {
  width: 80%;
  transition: 0.3s ease-in-out;
  display: block;
  position: absolute;
  top: 20%;
  height: fit-content;
  margin: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}

li:hover.rank {
  display: none;
}

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

button {
  margin-left: 12px;
}
