<mat-form-field class="example-full-width">
  <mat-label>Enter Artist</mat-label>
  <input matInput placeholder="Ex. The Weeknd" value="" [formControl]="searchInput">
</mat-form-field>
<button mat-raised-button>Search</button>
<div class="results-container">
  <ul *ngIf="searchResults$ | async as searchResults;" [ngClass]="{'blur':loading}">
    <li *ngFor="let result of searchResults; let i = index; let odd = odd" [class.odd]="odd">
      <div class="top">
        <div class="rank">{{i+1}}</div>
        <div style="width:200px;height:200px;overflow:hidden">
          <img src="{{result.artworkUrl100}}">
        </div>
      </div>
      <div class="bottom">
        <p><span class="bold">{{result.artistName}}</span> - {{result.trackName}}</p>
        <p>Genre: {{result.primaryGenreName}}</p>
        <a href="{{result.trackViewUrl}}">Listen Here</a>
      </div>
    </li>
    <li class="hidden"></li>
    <li class="hidden"></li>
    <li class="hidden"></li>
    <li class="hidden"></li>
  </ul>
  <div class="spinner" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>