<div fxLayout="row">
  <mat-toolbar>
    <span>{{title}}</span>
    <div class="links">
      <a [routerLink]="['/security-data']">Security Data</a>
      <a [routerLink]="['/music-search']">Music</a>
    </div>
  </mat-toolbar>
</div>
<div fxLayout="row" class="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>