.container {
  width: 90%;
  margin: 0 auto;
}

mat-toolbar {
  padding: 2em 3em;
  background-color: #35423d;
  width: 100%;
  color: #e6e6e6;
  display: flex;
  justify-content: space-between;
}

mat-toolbar a {
  color: #e6e6e6;
  text-decoration: none;
  margin: 1em 1em 0 1em;
  font-size: 0.9em;
}

mat-toolbar a:hover {
  color: #baa78b;
}

mat-toolbar span {
  font-weight: 700;
  font-size: 2.5em;
}

.content {
  margin: 3em 0;
}