.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.graph-container {
  position: relative;
}

.spinner {
  position: absolute;
  top: -70%;
  left: 45%;
}

.error {
  color: red;
}

mat-form-field {
  margin-right: 12px;
}
