<form [formGroup]="securitiesForm">
  <div class="form-container">

    <mat-form-field *ngIf="countries$ | async as countries">
      <mat-label>Select a country</mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let country of countries" [value]="country.code"
          [routerLink]="['/security-data', country.code]">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="securities$ | async as securities">
      <mat-label>Select securities</mat-label>
      <mat-select formControlName="securities" multiple>
        <mat-option *ngFor="let security of securities;" [value]="security">
          {{security.ticker}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="startDate" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="endDate" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

  </div>

  <small class="error" *ngIf="securitiesForm.hasError('invalidRange')">End date cannot be before the start date.</small>

  <div *ngIf="securityData$ | async as securityData">
    <div class="graph-container"
      *ngFor="let security of securityData; let i= index;"
      [ngClass]="{'blur':loading}">
      <app-graph [security]="security"></app-graph>
      <div class="spinner" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </div>
  </div>

</form>